<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>login page</title>
        <style>
            body {
                background-color: #111e35;
            }

            .center-logo {
                display: block;
                margin: auto;
                width: 150px;
            }
        </style>
    </head>
    <body>

        <!-- Logo + Login form-->
        <div class="">
            <img class="center-logo" src="main_logo.png" alt="Company Logo">
        </div>
    </body>
</html>
