<!doctype html>
<html>
<head>
  <title>Datastore and Firebase Auth Example</title>

  <!-- See https://github.com/firebase/firebaseui-web. -->
  <!-- [START gae_python37_auth_init_firebase] -->
  <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-app.js"></script>

    <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js">

    <script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
<link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css" />

    <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#available-libraries -->

    <script>
      // Your web app's Firebase configuration
      var firebaseConfig = {
        apiKey: "AIzaSyAT_5JGvlwqcaJgM0q2vPEPhgK0K8im7zY",
        authDomain: "wegotyouaride.firebaseapp.com",
        databaseURL: "https://wegotyouaride.firebaseio.com",
        projectId: "wegotyouaride",
        storageBucket: "wegotyouaride.appspot.com",
        messagingSenderId: "811131169374",
        appId: "1:811131169374:web:265ddd721b4143bfcee2cf"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
    </script>
  <!-- *******************************************************************************************
       * TODO(DEVELOPER): Paste the initialization snippet from:
       * http://console.firebase.google.com > Overview > Add Firebase to your web app.
       ***************************************************************************************** -->
  <!-- [END gae_python37_auth_init_firebase] -->
  <script>
    if (typeof firebase === 'undefined') {
      const msg = "Please paste the Firebase initialization snippet into index.html. See https://console.firebase.google.com > Overview > Add Firebase to your web app.";
      console.log(msg);
      alert(msg);
    }
  </script>
  <!-- [START gae_python37_auth_include_firebaseui] -->
  <script src="https://cdn.firebase.com/libs/firebaseui/2.6.2/firebaseui.js"></script>
  <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.6.2/firebaseui.css">
  <!-- [END gae_python37_auth_include_firebaseui] -->
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

<h1>Datastore and Firebase Auth Example</h1>

    <h1>My Entries: </h1>
    {% for each_entry in all_entries %}
    <p>{{each_entry.id}}</p>
    <p>{{each_entry.key.parent.name}}</p>
      <p>Key: {{each_entry.key}}</p>
      <p> Type: {{each_entry.type}} </p>
      <p> Lat: {{each_entry.latitude}} </p>
      <p> Long: {{each_entry.longitude}} </p>
      <p> Created by: {{each_entry.createdby}}</p>
    {% endfor %}

    <form method="POST" action='/claimentry'>
    id: <input type="text" name="entryid"><br>
    <input type="submit" value="Submit"><br>
    </form>
    Delete Entry by Id:
    <form method="POST" action='/deleteentry'>
    id: <input type="text" name="entryid"><br>
    <input type="submit" value="Submit"><br>
    </form>
<!-- [END gae_python37_auth_firebase_html] -->
</body>
</html>
